<app-header titulo="Aplicação"></app-header>

<app-card titulo="TITULO do header">
  <app-titulo title="Ola mundo"></app-titulo>

  <app-button nome="Botão Um"
              (clickDoButton)="onClick($event)">
  </app-button>

  <app-button [nome]="buttonTitle"></app-button>

  <app-button [nome]="'Botão Três'"></app-button>
</app-card>

